---

- name: Importing all relevent keys
  ansible.builtin.rpm_key:
    state: present
    key: "{{ item }}"
  loop: "{{ my_key_list }}"


- name: Preparing the system
  dnf:
    pkg:
      - https://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ release }}.noarch.rpm
      - https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ release }}.noarch.rpm
      - "@development-tools"
      #- "@development-libraries"
      - sqlite-devel
      - perl-core
      - htop
      - distrobox
      - make
      - cmake
      - links
      - pamixer
      - stow
      - go
      - helix
      - rofi
      - util-linux-user
      - java
      - fzf
      - fd
      - python3-pip
      - p7zip
      - p7zip-plugins
      - direnv
      - thunar
      - ranger
      - flameshot
      - fuzzel
      - xclip
      - exif
      - exiftool
      - swaync
    state: present


  - name: Install resvg
    become: false
    command: "cargo install resvg"
