---

- name: Install terminal utilitaries
  dnf:
    pkg:
      - alacritty
      - bat
      - ripgrep
      - feh
      - picom
      - xscreensaver
      - ImageMagick
      - btop
    state: present

- name: Install starship
  become: false
  command: "cargo install starship"

- name: Install zellij
  become: false
  command: "cargo install --locked zellij"

- name: Install zoxide
  become: false
  command: "cargo install zoxide"

- name: Install lsd
  become: false
  command: "cargo install lsd"

- name: Install harlequin
  become: false
  command: "pip install harlequin"

- name: install navi
  become: false
  command: "cargo install navi"

- name: install cargo-seek
  become: false
  command: "cargo install cargo-seek"
