---

# - name: Enable docker repository
#  shell: "dnf config-manager --add-repo https://download.docker.com/linux/fedora/docker-ce.repo"

- name: Install Docker and its dependencies
  dnf:
    pkg:
      - docker-cli
      - containerd
      # - docker-compose-switch
      - docker-compose
    state: present
