---

- name: EnableNiri copr project
  community.general.copr:
    state: enabled
    name: enable avengemedia/dms

- name: Install Hyprland
  dnf:
    pkg:
      - hyprland
      - waybar
      - blueman
      - swaylock
      - wlogout
      - swaybg
      - niri
      - dms
